<?xml version="1.0" encoding="utf-8"?>
<imagevault.client>
  <authentication>
    <sdkIdentity key="iv4sdk" secret="qzWXecRVtbYNumIOP1029384756"/>
  </authentication>
  <imageVaultCore address="https://p100sb04:9901" identity="ImageVault.Core"/>
  <appSettings>
    <add key="defaultMediaUrlBase" value="/imagevault/"/>
    <add key="enableClientCache" value="true"/>
  </appSettings>
</imagevault.client>
